@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-5;
  }

  .btn {
    @apply uppercase;
  }
}

.custom-margin-center-100vw {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
  right: 0;
  left: 0;
}

/* Add this to your global CSS file */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none; /* Hide the search clear button */
}

/* Custom CSS */
.custom-search-dropdown {
  transform: rotateX(-90deg) translate(-50%);
  transform-origin: top;
  perspective: 1000px;
  border-radius: var(--borderRadius);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 100;
  left: 50%;
}

.custom-search-dropdown-show {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transform: rotateX(0) translate(-50%);
}

.clearfix {
  overflow: auto;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.slick-prev,
.slick-next {
  width: 43px;
  height: 43px;
  z-index: 10;
  opacity: 0;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-prev:before,
.slick-next:before {
  font-size: 43px;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  list-style: none;
  bottom: -32px;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  color: #5a2e98;
  font-size: 12px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #ff7ac6;
}

/* Show arrows on hover */
.slick-container:hover .slick-prev,
.slick-container:hover .slick-next {
  opacity: 1;
}

/* complex header styling */
@media (min-width: 375px) and (max-width: 1024px) {
  .complex-grid-header {
    grid-template-areas:
      'logo-burger main-nav theme'
      'search-form search-form search-form';
    grid-template-columns: auto 1fr auto;
  }
  .header-logo-burger {
    grid-area: logo-burger;
  }
  .header-search-form {
    grid-area: search-form;
  }
  .header-main-nav {
    grid-area: main-nav;
  }
  .header-theme {
    grid-area: theme;
  }
}

@media screen and (min-width: 1024px) {
  .complex-grid-header {
    grid-template-columns: auto auto 1fr auto;
  }
}
